.main {
    display: flex;
    width: 100%;
    box-sizing: border-box;
  }
  
  .feed {
    width: 60%;
    min-width: 550px;
    justify-content: center;
    padding: 25px;
  }
  
  .sidebar {
    position: fixed;
    top: 25px;
    right: 25px;
    max-width: 500px;
    width: 25%;
    padding: 25px;
  }
  

  @media (max-width: 850px) {
    .main {
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
    }
  
    .feed {
      width: 100%;
      min-width: 0;
      padding: 15px;
      padding: 0;
    }
  
    .sidebar {
      position: static;
      width: 100%;
      padding: 0;
      order: -1;
    }
  }